:root {
  --quiz-success: #77d598;
  --quiz-wrong: #f8d7da;
  --quiz-option-hover: #e9ecef;
  --bs-warning: rgb(255, 193, 7);
}

.hidden {
  display: none;
}

/* .quiz-app-container */
.quiz-app-container {
  width: 33rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* question */
.question-header {
  position: relative;
}
.question-text {
  font-weight: 500;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  height: 5rem;
}
.question-options ul {
  padding: 0;
}
.question-options li {
  list-style: none;
  margin: 0.7rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid #222;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.question-options li:hover {
  background-color: var(--quiz-option-hover);
}
.question-options li.disabled {
  pointer-events: none;
}
.question-options li.correct {
  background-color: var(--quiz-success);
}
.question-options li.incorrect {
  background-color: var(--quiz-wrong);
}
.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 0.4rem 1.2rem;
  margin-bottom: 0;
}
.time.time-up {
  background-color: red !important;
  color: #fff !important;
}
.time-text {
  font-size: 1rem;
  font-weight: 400;
}
.time-second {
  font-size: 1.3rem;
  font-weight: 600;
}
.progress-animation {
  background-color: var(--bs-warning);
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
}
.question-progress {
  color: var(--bs-warning) !important;
  font-weight: 700;
  padding: 0.4rem;
}
.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

/* score */
.icon {
  font-size: 6rem;
}
