:root {
  --quiz-success: #77d598;
  --quiz-wrong: #f8d7da;
}

.quiz-app-container {
  width: 33rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.question-text {
  font-weight: 500;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.question-options ul {
  padding: 0;
}

.question-options li {
  list-style: none;
  margin: 0.7rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid #222;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.question-options li.disabled {
  pointer-events: none;
}

.question-options li.correct {
  background-color: var(--quiz-success);
}
.question-options li.incorrect {
  background-color: var(--quiz-wrong);
}
